<div id="logo" class="mt-6 mb-4 px-6">
  <h1 class="text-lg md:text-2xl mb-0.5 font-bold text-white">
    {{ envs.companyName }}<span class="text-red-500">{{ envs.companyName2 }}</span>
  </h1>
  <p class="text-slate-400 text-sm">{{ envs.companySlogan }}</p>
</div>

<div id="profile" class="px-6 py-3">
  <p class="text-slate-500">Bienvenido,</p>
  <a href="#" class="inline-flex space-x-2 items-center">
    <span>
      <img class="rounded-full w-9 h-9"
        src="assets/images/profile.png"
        alt="">
    </span>
    <span class="text-sm md:text-base font-bold">
      Psyduck
    </span>
  </a>
</div>
