.form-container {
    width: 100%;
    height: 70px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 30px -10px #d5dbed;
    margin-bottom: 10px;
}

.form-tab {
    width: 100%;
    height: 50px;
}

.form-container, .form-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-field {
    width: 95%;
    height: 50px;
    background: transparent;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: #eff4ff;
}

input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
}

.text-field {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #818da5;
    opacity: 0.8;
    font-size: 16px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 5px 5px 5px 43px;
    caret-color: #000000a1;
    line-height: 2em;
}

.search-icon {
    position: absolute;
    top: 14px;
    left: 10px;
    z-index: 1;
    color: #6e80a5;
    opacity: .8;
    width: 24px;
    height: 24px;
  }
