/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
    background: #f1f3f9;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
